import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient

In [ ]:
# Connexion à MongoDB
client = MongoClient('')  
db = client['API_Project']  # Remplace par le nom de ta base de données
collection = db['Meteo']  # Remplace par le nom de ta collection

# Récupérer les données depuis MongoDB
data = pd.DataFrame(list(collection.find()))

# Afficher les premières lignes pour vérifier la structure des données
print(data.head())

cwd = os.getcwd()
cwd_data = cwd + "/data/"
cwd_file = cwd_data + "export_infoclimat.csv"
end_file = cwd + "\\end_data\\transformed_data.csv"

df = pd.read_csv(cwd_file, delimiter=";")
df = df.drop([0])
df.head(5)

In [4]:
df.describe()

,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,vent_rafales,vent_rafales_10min,vent_direction,...,temperature_sol,temps_omm,radiations,neige_au_sol,nebulosite,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index
count,1593.000000,1593.000000,1384.000000,1594.000000,1593.000000,267.000000,1593.000000,267.000000,1593.000000,1580.000000,...,12.000000,251.000000,0.0,0.0,161.000000,0.0,1327.000000,0.0,796.000000,796.000000
mean,13.058569,1022.120088,0.250361,91.232120,11.597363,13739.325843,9.148148,24.161798,15.808851,174.474684,...,10.916667,57.175299,NaN,NaN,7.795031,NaN,0.347551,NaN,84.894472,0.359171
std,2.970648,7.458325,1.597015,7.062723,2.561986,11104.655442,7.048319,15.420801,11.683868,77.988478,...,2.937480,10.354958,NaN,NaN,0.501473,NaN,1.108975,NaN,153.545556,0.712885
min,6.200000,1008.500000,-3.700000,56.000000,5.700000,100.000000,0.000000,3.600000,0.000000,0.000000,...,7.000000,10.000000,NaN,NaN,6.000000,NaN,0.000000,NaN,0.000000,0.000000
25%,10.900000,1015.800000,-0.900000,90.000000,9.800000,5000.000000,3.900000,10.800000,7.500000,133.000000,...,8.500000,60.500000,NaN,NaN,8.000000,NaN,0.000000,NaN,0.000000,0.000000
50%,13.200000,1021.000000,0.500000,94.000000,11.600000,13000.000000,7.200000,21.600000,12.700000,167.000000,...,11.000000,61.000000,NaN,NaN,8.000000,NaN,0.000000,NaN,0.000000,0.000000
75%,15.300000,1029.500000,1.400000,96.000000,13.500000,18000.000000,13.400000,32.400000,20.900000,227.000000,...,14.000000,63.000000,NaN,NaN,8.000000,NaN,0.000000,NaN,90.000000,0.000000
max,19.500000,1034.300000,4.200000,100.000000,17.700000,55000.000000,46.800000,79.200000,75.600000,360.000000,...,14.000000,63.000000,NaN,NaN,8.000000,NaN,8.800000,NaN,671.000000,2.900000

In [5]:
a = df['dh_utc'].loc(0)
print(a)

<pandas.core.indexing._LocIndexer object at 0x00000248B4B0D220>

def turn_10_to_15 (index, row, field_date):
        if minutes(row['field_date']) == 0 or 30 :
            df_add row
        elif minutes == 10 or 40:
            df_add_mean(row, next_row)
        else pass

def clean_hour (row, next_row):
    add row, 
    add row + next_row-row *0.25
    add mean(row)
    add row + (next_row-row)* 0.75
    pd.concat (..)

# 50th Percentile
def q50(x):
    return x.quantile(0.5)

# 90th Percentile
def q90(x):
    return x.quantile(0.9)

my_DataFrame.groupby(['AGGREGATE']).agg({'MY_COLUMN': [q50, q90, 'max']})

def temporalite_data (arg):
        if date(next_row)-date(row) == 1 :
                if date(next_row)-date(row) == 1 :
        list_timing = [0,15,30,45]
        
        elif date(next_row)-date(row) = 10 minutes :

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 1 to 1594
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   station_id              1594 non-null   object
 1   dh_utc                  1594 non-null   object
 2   temperature             1593 non-null   float64
 3   pression                1593 non-null   float64
 4   pression_variation_3h   1384 non-null   float64
 5   humidite                1594 non-null   int64
 6   point_de_rosee          1593 non-null   float64
 7   visibilite              267 non-null    float64
 8   vent_moyen              1593 non-null   float64
 9   vent_rafales            267 non-null    float64
 10  vent_rafales_10min      1593 non-null   float64
 11  vent_direction          1580 non-null   float64
 12  temperature_min         33 non-null     float64
 13  temperature_max         33 non-null     float64
 14  pluie_1h                533 non-null    float64
 15  pluie_3h                170 non-null    float64
 16  pluie_6h                120 non-null    float64
 17  pluie_12h               160 non-null    float64
 18  pluie_24h               175 non-null    float64
 19  ensoleillement          12 non-null     float64
 20  temperature_sol         12 non-null     float64
 21  temps_omm               251 non-null    float64
 22  source                  1594 non-null   object
 23  radiations              0 non-null      float64
 24  neige_au_sol            0 non-null      float64
 25  nebulosite              161 non-null    float64
 26  raw_msg                 267 non-null    object
 27  pluie_cumul_0h          0 non-null      float64
 28  pluie_intensite         1327 non-null   float64
 29  pluie_intensite_max_1h  0 non-null      float64
 30  uv                      796 non-null    float64
 31  uv_index                796 non-null    float64
 32  complements             1327 non-null   object
dtypes: float64(27), int64(1), object(5)
memory usage: 423.4+ KB

def clean_data(arg):
    arg = str(arg)
    return

In [7]:
df = df.astype({
                "temperature":float, 
                "pression":float, "humidite":float, "visibilite":float, "vent_moyen":float, "vent_rafales":float, "vent_rafales":float,
               "vent_direction":float, "pluie_1h":float,  "pluie_intensite":float, "uv":float, "uv_index":float})

In [8]:
df_grpby = df.groupby("dh_utc").agg(
   temperature_moyenne=("temperature","mean"),
   pression_moyenne=("pression","mean"),
    humidite_moyenne = ("humidite", "mean"),
    visibilité_moyenne = ("visibilite", "mean"),
    vent_moyen = ("vent_moyen", "mean"),
    vent_rafales_moyen = ("vent_rafales", "mean"),
    vent_rafales_max = ("vent_rafales", "max"),
    vent_direction_moyenne = ("vent_direction", "mean"),
    pluie_moyenne = ("pluie_1h", "mean"),
    pluie_intesite = ("pluie_intensite", "mean"),
    uv = ("uv", "mean"),
    uv_index = ("uv_index", "mean")
)

In [9]:
df_grpby.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1062 entries, 19/10/2024 00:00 to 24/10/2024 13:50
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   temperature_moyenne     1061 non-null   float64
 1   pression_moyenne        1061 non-null   float64
 2   humidite_moyenne        1062 non-null   float64
 3   visibilité_moyenne      134 non-null    float64
 4   vent_moyen              1061 non-null   float64
 5   vent_rafales_moyen      134 non-null    float64
 6   vent_rafales_max        134 non-null    float64
 7   vent_direction_moyenne  1054 non-null   float64
 8   pluie_moyenne           134 non-null    float64
 9   pluie_intesite          1061 non-null   float64
 10  uv                      796 non-null    float64
 11  uv_index                796 non-null    float64
dtypes: float64(12)
memory usage: 107.9+ KB

In [10]:
df_grpby.head(20)

,temperature_moyenne,pression_moyenne,humidite_moyenne,visibilité_moyenne,vent_moyen,vent_rafales_moyen,vent_rafales_max,vent_direction_moyenne,pluie_moyenne,pluie_intesite,uv,uv_index
dh_utc,,,,,,,,,,,,
19/10/2024 00:00,15.666667,1011.866667,95.00,16000.0,16.666667,25.2,25.2,192.333333,0.266667,0.6,0.0,0.0
19/10/2024 00:10,15.800000,1011.200000,94.00,NaN,15.400000,NaN,NaN,176.000000,NaN,0.0,0.0,0.0
19/10/2024 00:15,16.400000,1010.700000,94.00,NaN,14.900000,NaN,NaN,214.000000,NaN,0.8,NaN,NaN
19/10/2024 00:20,15.900000,1011.300000,94.00,NaN,16.300000,NaN,NaN,175.000000,NaN,0.0,0.0,0.0
19/10/2024 00:30,16.100000,1010.850000,93.00,NaN,17.400000,NaN,NaN,202.500000,NaN,1.9,0.0,0.0
19/10/2024 00:40,15.900000,1010.900000,94.00,NaN,16.400000,NaN,NaN,168.000000,NaN,1.0,0.0,0.0
19/10/2024 00:45,15.900000,1010.600000,92.00,NaN,17.300000,NaN,NaN,233.000000,NaN,4.4,NaN,NaN
19/10/2024 00:50,15.900000,1010.900000,94.00,NaN,16.500000,NaN,NaN,162.000000,NaN,0.0,0.0,0.0
19/10/2024 01:00,15.300000,1011.100000,94.00,7500.0,18.025000,41.4,54.0,209.000000,1.200000,1.4,0.0,0.0
19/10/2024 01:10,16.100000,1010.600000,94.00,NaN,15.100000,NaN,NaN,169.000000,NaN,0.2,0.0,0.0
19/10/2024 01:15,15.500000,1010.300000,94.00,NaN,9.400000,NaN,NaN,235.000000,NaN,8.6,NaN,NaN
19/10/2024 01:20,16.100000,1010.500000,94.00,NaN,14.800000,NaN,NaN,168.000000,NaN,0.2,0.0,0.0
19/10/2024 01:30,15.750000,1010.350000,94.00,NaN,13.050000,NaN,NaN,198.500000,NaN,1.1,0.0,0.0
19/10/2024 01:40,16.200000,1010.300000,94.00,NaN,16.000000,NaN,NaN,168.000000,NaN,0.0,0.0,0.0
19/10/2024 01:45,15.300000,1010.300000,95.00,NaN,8.100000,NaN,NaN,227.000000,NaN,0.0,NaN,NaN
19/10/2024 01:50,16.200000,1010.100000,94.00,NaN,15.200000,NaN,NaN,169.000000,NaN,0.0,0.0,0.0
19/10/2024 02:00,15.050000,1010.800000,95.25,10500.0,13.025000,28.8,32.4,217.250000,0.950000,0.1,0.0,0.0
19/10/2024 02:10,16.300000,1010.100000,94.00,NaN,16.100000,NaN,NaN,179.000000,NaN,0.0,0.0,0.0
19/10/2024 02:15,15.400000,1010.100000,94.00,NaN,8.600000,NaN,NaN,239.000000,NaN,0.0,NaN,NaN
19/10/2024 02:20,16.300000,1010.100000,93.00,NaN,13.600000,NaN,NaN,182.000000,NaN,0.2,0.0,0.0

In [11]:
df_grpby.to_csv(end_file)