In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
cwd = os.getcwd()
cwd_data = cwd + "/data/"
cwd_file = cwd_data + "export_infoclimat.csv"
end_file = cwd + "\\end_data\\transformed_data.csv"

In [3]:
df = pd.read_csv(cwd_file, delimiter=";")
df = df.drop([0])
df.head(5)

,station_id,dh_utc,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,vent_rafales,...,radiations,neige_au_sol,nebulosite,raw_msg,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index,complements
1,7130,19/10/2024 00:00,14.8,1013.6,-2.1,97,14.3,16000.0,18.0,25.2,...,NaN,NaN,8.0,AAXX 19001 07130 04266 81805 10148 20143 30092...,NaN,NaN,NaN,NaN,NaN,NaN
2,STATIC0021,19/10/2024 00:00,15.8,1011.1,NaN,94,14.8,NaN,16.6,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0@@@@439.8
3,STATIC0308,19/10/2024 00:00,16.4,1010.9,NaN,94,15.4,NaN,15.4,NaN,...,NaN,NaN,NaN,NaN,NaN,1.2,NaN,NaN,NaN,@@@@191.2
4,STATIC0021,19/10/2024 00:10,15.8,1011.2,NaN,94,14.8,NaN,15.4,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0@@@@439.8
5,STATIC0308,19/10/2024 00:15,16.4,1010.7,NaN,94,15.3,NaN,14.9,NaN,...,NaN,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,@@@@191.4

In [4]:
df.describe()

,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,vent_rafales,vent_rafales_10min,vent_direction,...,temperature_sol,temps_omm,radiations,neige_au_sol,nebulosite,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index
count,1593.000000,1593.000000,1384.000000,1594.000000,1593.000000,267.000000,1593.000000,267.000000,1593.000000,1580.000000,...,12.000000,251.000000,0.0,0.0,161.000000,0.0,1327.000000,0.0,796.000000,796.000000
mean,13.058569,1022.120088,0.250361,91.232120,11.597363,13739.325843,9.148148,24.161798,15.808851,174.474684,...,10.916667,57.175299,NaN,NaN,7.795031,NaN,0.347551,NaN,84.894472,0.359171
std,2.970648,7.458325,1.597015,7.062723,2.561986,11104.655442,7.048319,15.420801,11.683868,77.988478,...,2.937480,10.354958,NaN,NaN,0.501473,NaN,1.108975,NaN,153.545556,0.712885
min,6.200000,1008.500000,-3.700000,56.000000,5.700000,100.000000,0.000000,3.600000,0.000000,0.000000,...,7.000000,10.000000,NaN,NaN,6.000000,NaN,0.000000,NaN,0.000000,0.000000
25%,10.900000,1015.800000,-0.900000,90.000000,9.800000,5000.000000,3.900000,10.800000,7.500000,133.000000,...,8.500000,60.500000,NaN,NaN,8.000000,NaN,0.000000,NaN,0.000000,0.000000
50%,13.200000,1021.000000,0.500000,94.000000,11.600000,13000.000000,7.200000,21.600000,12.700000,167.000000,...,11.000000,61.000000,NaN,NaN,8.000000,NaN,0.000000,NaN,0.000000,0.000000
75%,15.300000,1029.500000,1.400000,96.000000,13.500000,18000.000000,13.400000,32.400000,20.900000,227.000000,...,14.000000,63.000000,NaN,NaN,8.000000,NaN,0.000000,NaN,90.000000,0.000000
max,19.500000,1034.300000,4.200000,100.000000,17.700000,55000.000000,46.800000,79.200000,75.600000,360.000000,...,14.000000,63.000000,NaN,NaN,8.000000,NaN,8.800000,NaN,671.000000,2.900000

In [5]:
a = df['dh_utc'].loc(0)
print(a)

<pandas.core.indexing._LocIndexer object at 0x0000017E55107B30>

In [6]:
df['dh_utc'] = pd.to_datetime(df['dh_utc'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1594 entries, 1 to 1594
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   station_id              1594 non-null   object
 1   dh_utc                  1594 non-null   datetime64[ns]
 2   temperature             1593 non-null   float64
 3   pression                1593 non-null   float64
 4   pression_variation_3h   1384 non-null   float64
 5   humidite                1594 non-null   int64
 6   point_de_rosee          1593 non-null   float64
 7   visibilite              267 non-null    float64
 8   vent_moyen              1593 non-null   float64
 9   vent_rafales            267 non-null    float64
 10  vent_rafales_10min      1593 non-null   float64
 11  vent_direction          1580 non-null   float64
 12  temperature_min         33 non-null     float64
 13  temperature_max         33 non-null     float64
 14  pluie_1h                533 non-null    float64
 15  pluie_3h                170 non-null    float64
 16  pluie_6h                120 non-null    float64
 17  pluie_12h               160 non-null    float64
 18  pluie_24h               175 non-null    float64
 19  ensoleillement          12 non-null     float64
 20  temperature_sol         12 non-null     float64
 21  temps_omm               251 non-null    float64
 22  source                  1594 non-null   object
 23  radiations              0 non-null      float64
 24  neige_au_sol            0 non-null      float64
 25  nebulosite              161 non-null    float64
 26  raw_msg                 267 non-null    object
 27  pluie_cumul_0h          0 non-null      float64
 28  pluie_intensite         1327 non-null   float64
 29  pluie_intensite_max_1h  0 non-null      float64
 30  uv                      796 non-null    float64
 31  uv_index                796 non-null    float64
 32  complements             1327 non-null   object
dtypes: datetime64[ns](1), float64(27), int64(1), object(4)
memory usage: 423.4+ KB

In [7]:
a = df['dh_utc'].loc(0)
print(a)

<pandas.core.indexing._LocIndexer object at 0x0000017E5511A4A0>

In [8]:
def turn_10_to_15 (row, next_row, column):
        minutes = row[column].minutes()
        if minutes == 0 or minutes == 30 :
            return row
        elif minutes == 10 or minutes == 40 :
            return df_.grpby(df_add_mean.loc(row, next_row)).mean()
        else :
            pass

In [9]:
def clean_hour (row, next_row):
    return row
    add row + (next_row-row)*0.25
    add mean(row)
    add row + (next_row-row)* 0.75
    pd.concat (..)

SyntaxError: invalid syntax (Temp/ipykernel_20808/2293715602.py, line 3)

In [ ]:
# 50th Percentile
def q50(x):
    return x.quantile(0.5)

# 90th Percentile
def q90(x):
    return x.quantile(0.9)

my_DataFrame.groupby(['AGGREGATE']).agg({'MY_COLUMN': [q50, q90, 'max']})

In [ ]:
def temporalite_data (arg):
        if date(next_row)-date(row) == 1 :
                if date(next_row)-date(row) == 1 :
        list_timing = [0,15,30,45]
        
        elif date(next_row)-date(row) = 10 minutes :

In [ ]:
df.info()

def clean_data(arg):
    arg = str(arg)
    return

In [ ]:
df = df.astype({
                "temperature":float, 
                "pression":float, "humidite":float, "visibilite":float, "vent_moyen":float, "vent_rafales":float, "vent_rafales":float,
               "vent_direction":float, "pluie_1h":float,  "pluie_intensite":float, "uv":float, "uv_index":float})

In [ ]:
df_grpby = df.groupby("dh_utc").agg(
   temperature_moyenne=("temperature","mean"),
   pression_moyenne=("pression","mean"),
    humidite_moyenne = ("humidite", "mean"),
    visibilitÃ©_moyenne = ("visibilite", "mean"),
    vent_moyen = ("vent_moyen", "mean"),
    vent_rafales_moyen = ("vent_rafales", "mean"),
    vent_rafales_max = ("vent_rafales", "max"),
    vent_direction_moyenne = ("vent_direction", "mean"),
    pluie_moyenne = ("pluie_1h", "mean"),
    pluie_intesite = ("pluie_intensite", "mean"),
    uv = ("uv", "mean"),
    uv_index = ("uv_index", "mean")
)

In [ ]:
df_grpby.info()

In [ ]:
df_grpby.head(20)

In [ ]:
df_grpby.to_csv(end_file)