In [27]:
import pandas as pd
import numpy as np
import datetime, date
import os

ModuleNotFoundError: No module named 'date'

In [2]:
cwd = os.getcwd()
cwd_data = cwd + "/data/"
cwd_file = cwd_data + "export_infoclimat.csv"

In [3]:
df = pd.read_csv(cwd_file, delimiter=";")
df = df.drop([0])
df.head(5)

,station_id,dh_utc,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,vent_rafales,...,radiations,neige_au_sol,nebulosite,raw_msg,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index,complements
1,7110,19/10/2024 00:00,15.8,1009.7,-1.9,96,15.2,5000,32.4,57.6,...,NaN,NaN,8,AAXX 19001 07110 04350 82109 10158 20152 39982...,NaN,NaN,NaN,NaN,NaN,NaN
2,7110,19/10/2024 01:00,14.3,1010.1,-0.7,91,12.8,5000,25.2,54,...,NaN,NaN,8,AAXX 19011 07110 24250 82607 10143 20128 39985...,NaN,NaN,NaN,NaN,NaN,NaN
3,7110,19/10/2024 02:00,13.1,1010.5,0.3,96,12.5,13000,10.8,25.2,...,NaN,NaN,8,AAXX 19021 07110 24363 82803 10131 20125 39988...,NaN,NaN,NaN,NaN,NaN,NaN
4,7110,19/10/2024 03:00,12.8,1010.8,0.9,97,12.3,55000,7.2,21.6,...,NaN,NaN,8,AAXX 19031 07110 24385 82702 10128 20123 39991...,NaN,NaN,NaN,NaN,NaN,NaN
5,7110,19/10/2024 04:00,12.3,1010.8,0.6,97,11.8,10000,7.2,10.8,...,NaN,NaN,8,AAXX 19041 07110 24460 82502 10123 20118 39991...,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,station_id,dh_utc,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,vent_rafales,...,radiations,neige_au_sol,nebulosite,raw_msg,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index,complements
count,1595,1595,1594,1594,1385,1595,1594,268,1594,268,...,0,0,162,268,0,1327,0,796,796,1327
unique,4,1062,133,248,78,41,121,58,244,21,...,0,0,3,268,0,35,0,181,23,233
top,STATIC0021,19/10/2024 00:00,11.7,1033.1,1.2,96,13.6,18000,7.2,10.8,...,NaN,NaN,8,AAXX 19001 07110 04350 82109 10158 20152 39982...,NaN,0,NaN,0,0,@@@@252
freq,796,4,40,27,48,250,53,20,72,48,...,NaN,NaN,136,1,NaN,1134,NaN,456,611,214

In [26]:
a = df['dh_utc'].loc(0)
print(a)

<pandas.core.indexing._LocIndexer object at 0x000002842A493540>

In [ ]:
def turn_10_to_15 (row, next_row):
        if minutes(row) == 0 or 30 :
            df_add row
        elif minutes == 10 or 40:
            df_add_mean(row, next_row)
        else pass

In [28]:
def clean_hour (row, next_row):
    add row, 
    add row + next_row-row *0.25
    add mean(row)
    add row + next_row _ row * 0.75

SyntaxError: invalid syntax (Temp/ipykernel_592/1238889913.py, line 2)

In [29]:
# 50th Percentile
def q50(x):
    return x.quantile(0.5)

# 90th Percentile
def q90(x):
    return x.quantile(0.9)

my_DataFrame.groupby(['AGGREGATE']).agg({'MY_COLUMN': [q50, q90, 'max']})

NameError: name 'my_DataFrame' is not defined

In [ ]:
def temporalite_data :
        if date(next_row)-date(row) == 1 :
                if date(next_row)-date(row) == 1 :
        list_timing = [00,15,30,45]
        
    elif date(next_row)-date(row) = 10 minutes :

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 1 to 1595
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   station_id              1595 non-null   object
 1   dh_utc                  1595 non-null   object
 2   temperature             1594 non-null   object
 3   pression                1594 non-null   object
 4   pression_variation_3h   1385 non-null   object
 5   humidite                1595 non-null   object
 6   point_de_rosee          1594 non-null   object
 7   visibilite              268 non-null    object
 8   vent_moyen              1594 non-null   object
 9   vent_rafales            268 non-null    object
 10  vent_rafales_10min      1594 non-null   object
 11  vent_direction          1581 non-null   object
 12  temperature_min         33 non-null     object
 13  temperature_max         33 non-null     object
 14  pluie_1h                534 non-null    object
 15  pluie_3h                171 non-null    object
 16  pluie_6h                121 non-null    object
 17  pluie_12h               160 non-null    object
 18  pluie_24h               175 non-null    object
 19  ensoleillement          12 non-null     object
 20  temperature_sol         12 non-null     object
 21  temps_omm               252 non-null    object
 22  source                  1595 non-null   object
 23  radiations              0 non-null      object
 24  neige_au_sol            0 non-null      object
 25  nebulosite              162 non-null    object
 26  raw_msg                 268 non-null    object
 27  pluie_cumul_0h          0 non-null      object
 28  pluie_intensite         1327 non-null   object
 29  pluie_intensite_max_1h  0 non-null      object
 30  uv                      796 non-null    object
 31  uv_index                796 non-null    object
 32  complements             1327 non-null   object
dtypes: object(33)
memory usage: 423.7+ KB

def clean_data(arg):
    arg = str(arg)
    return

In [20]:
df = df.astype({
                "temperature":float, 
                "pression":float, "humidite":float, "visibilite":float, "vent_moyen":float, "vent_rafales":float, "vent_rafales":float,
               "vent_direction":float, "pluie_1h":float,  "pluie_intensite":float, "uv":float, "uv_index":float})

In [21]:
df_grpby = df.groupby("dh_utc").agg(
   temperature_moyenne=("temperature","mean"),
   pression_moyenne=("pression","mean"),
    humidite_moyenne = ("humidite", "mean"),
    visibilitÃ©_moyenne = ("visibilite", "mean"),
    vent_moyen = ("vent_moyen", "mean"),
    vent_rafales_moyen = ("vent_rafales", "mean"),
    vent_rafales_max = ("vent_rafales", "max"),
    vent_direction_moyenne = ("vent_direction", "mean"),
    pluie_moyenne = ("pluie_1h", "mean"),
    pluie_intesite = ("pluie_intensite", "mean"),
    uv = ("uv", "mean"),
    uv_index = ("uv_index", "mean")
)

In [14]:
df_grpby.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1062 entries, 19/10/2024 00:00 to 24/10/2024 13:50
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   temperature_moyenne     1061 non-null   float64
 1   pression_moyenne        1061 non-null   float64
 2   humidite_moyenne        1062 non-null   float64
 3   vent_moyen              1061 non-null   float64
 4   vent_rafales_moyen      134 non-null    float64
 5   vent_rafales_max        134 non-null    float64
 6   vent_direction_moyenne  1054 non-null   float64
 7   pluie_moyenne           134 non-null    float64
 8   pluie_intesite          1061 non-null   float64
 9   uv                      796 non-null    float64
 10  uv_index                796 non-null    float64
dtypes: float64(11)
memory usage: 99.6+ KB

In [24]:
df_grpby.head(20)

,temperature_moyenne,pression_moyenne,humidite_moyenne,visibilitÃ©_moyenne,vent_moyen,vent_rafales_moyen,vent_rafales_max,vent_direction_moyenne,pluie_moyenne,pluie_intesite,uv,uv_index
dh_utc,,,,,,,,,,,,
19/10/2024 00:00,15.70,1011.325,95.25,10500.0,20.600,41.4,57.6,196.75,0.30,0.6,0.0,0.0
19/10/2024 00:10,15.80,1011.200,94.00,NaN,15.400,NaN,NaN,176.00,NaN,0.0,0.0,0.0
19/10/2024 00:15,16.40,1010.700,94.00,NaN,14.900,NaN,NaN,214.00,NaN,0.8,NaN,NaN
19/10/2024 00:20,15.90,1011.300,94.00,NaN,16.300,NaN,NaN,175.00,NaN,0.0,0.0,0.0
19/10/2024 00:30,16.10,1010.850,93.00,NaN,17.400,NaN,NaN,202.50,NaN,1.9,0.0,0.0
19/10/2024 00:40,15.90,1010.900,94.00,NaN,16.400,NaN,NaN,168.00,NaN,1.0,0.0,0.0
19/10/2024 00:45,15.90,1010.600,92.00,NaN,17.300,NaN,NaN,233.00,NaN,4.4,NaN,NaN
19/10/2024 00:50,15.90,1010.900,94.00,NaN,16.500,NaN,NaN,162.00,NaN,0.0,0.0,0.0
19/10/2024 01:00,15.30,1011.100,94.00,7500.0,18.025,41.4,54.0,209.00,1.20,1.4,0.0,0.0
19/10/2024 01:10,16.10,1010.600,94.00,NaN,15.100,NaN,NaN,169.00,NaN,0.2,0.0,0.0
19/10/2024 01:15,15.50,1010.300,94.00,NaN,9.400,NaN,NaN,235.00,NaN,8.6,NaN,NaN
19/10/2024 01:20,16.10,1010.500,94.00,NaN,14.800,NaN,NaN,168.00,NaN,0.2,0.0,0.0
19/10/2024 01:30,15.75,1010.350,94.00,NaN,13.050,NaN,NaN,198.50,NaN,1.1,0.0,0.0
19/10/2024 01:40,16.20,1010.300,94.00,NaN,16.000,NaN,NaN,168.00,NaN,0.0,0.0,0.0
19/10/2024 01:45,15.30,1010.300,95.00,NaN,8.100,NaN,NaN,227.00,NaN,0.0,NaN,NaN
19/10/2024 01:50,16.20,1010.100,94.00,NaN,15.200,NaN,NaN,169.00,NaN,0.0,0.0,0.0
19/10/2024 02:00,15.05,1010.800,95.25,10500.0,13.025,28.8,32.4,217.25,0.95,0.1,0.0,0.0
19/10/2024 02:10,16.30,1010.100,94.00,NaN,16.100,NaN,NaN,179.00,NaN,0.0,0.0,0.0
19/10/2024 02:15,15.40,1010.100,94.00,NaN,8.600,NaN,NaN,239.00,NaN,0.0,NaN,NaN
19/10/2024 02:20,16.30,1010.100,93.00,NaN,13.600,NaN,NaN,182.00,NaN,0.2,0.0,0.0