In [18]:
import pandas as pd
import numpy as np
import os
from pymongo import MongoClient
import datetime
import ast

In [3]:
file_path = "C:\\Users\JC\Downloads\météo_data.csv"

In [4]:
df_meteo = pd.read_csv(file_path, header=0)

In [5]:
df_meteo.head(5)

,dt,main,weather,clouds,wind,visibility,pop,sys,dt_txt,rain,snow,0
0,1731931200,"{'temp': 283.75, 'feels_like': 283.22, 'temp_m...","[{'id': 803, 'main': 'Clouds', 'description': ...",{'all': 83},"{'speed': 5.61, 'deg': 250, 'gust': 11.77}",10000.0,0.00,{'pod': 'd'},2024-11-18 12:00:00,NaN,NaN,"{'temp': 283.75, 'feels_like': 283.22, 'temp_m..."
1,1731942000,"{'temp': 285.38, 'feels_like': 284.83, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 92},"{'speed': 5.89, 'deg': 247, 'gust': 10.37}",10000.0,0.20,{'pod': 'd'},2024-11-18 15:00:00,{'3h': 0.1},NaN,"{'temp': 285.38, 'feels_like': 284.83, 'temp_m..."
2,1731952800,"{'temp': 285.09, 'feels_like': 284.56, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 6.46, 'deg': 238, 'gust': 12.75}",10000.0,0.22,{'pod': 'n'},2024-11-18 18:00:00,{'3h': 0.17},NaN,"{'temp': 285.09, 'feels_like': 284.56, 'temp_m..."
3,1731963600,"{'temp': 284.78, 'feels_like': 284.32, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 6.82, 'deg': 240, 'gust': 13.5}",10000.0,1.00,{'pod': 'n'},2024-11-18 21:00:00,{'3h': 0.54},NaN,"{'temp': 284.78, 'feels_like': 284.32, 'temp_m..."
4,1731974400,"{'temp': 284.95, 'feels_like': 284.43, 'temp_m...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 100},"{'speed': 8.28, 'deg': 242, 'gust': 15.02}",10000.0,1.00,{'pod': 'n'},2024-11-19 00:00:00,{'3h': 0.88},NaN,"{'temp': 284.95, 'feels_like': 284.43, 'temp_m..."

In [42]:

file_path = "C:\\Users\JC\Downloads\météo_data.csv"

df_meteo = pd.read_csv(file_path, header=0)


new_df_transformed = pd.DataFrame()
for index, row in df_meteo.iterrows():
    new_row = {"temperature": [ast.literal_eval(row['main'])['temp']]}
                     
    new_row = pd.DataFrame(new_row)
    new_df_transformed = pd.concat([new_df_transformed,new_row], ignore_index=True, axis=0)

SyntaxError: invalid syntax (<unknown>, line 2)

In [23]:
new_df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  80 non-null     float64
 1   weather      80 non-null     object
 2   clouds       80 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.0+ KB

In [13]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt          80 non-null     int64
 1   main        80 non-null     object
 2   weather     80 non-null     object
 3   clouds      80 non-null     object
 4   wind        80 non-null     object
 5   visibility  76 non-null     float64
 6   pop         80 non-null     float64
 7   sys         80 non-null     object
 8   dt_txt      80 non-null     object
 9   rain        36 non-null     object
 10  snow        10 non-null     object
 11  0           80 non-null     object
dtypes: float64(2), int64(1), object(9)
memory usage: 7.6+ KB