In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pymongo import MongoClient
import datetime

In [2]:

current_dir = os.getcwd()
end_path = current_dir + "\end_data"
end_file = end_path +'\end_data.csv'
print(end_file)

conso_path = "C:\\Users\JC\Documents\Sup de vinci\Entrepots de donnees\Projet API\Bensalem-Loirat---API-Meteo-conso-qualit-de-l-air-sant-\data_transformation\data_transformed\Api_energie_Transforme.csv"

C:\Users\JC\Documents\Sup de vinci\Entrepots de donnees\Projet API\Bensalem-Loirat---API-Meteo-conso-qualit-de-l-air-sant-\end_data\end_data.csv

In [3]:
mongodb_url = "mongodb+srv://bean3den:faRpFh6VyRLeEf6A@cluster0.wva85.mongodb.net/"
meteo_api_url = os.getenv("API_URL_METEO_2")
meteo_api_key = os.getenv("METEO_API_KEY")

In [4]:
# Configurer MongoDB
client = MongoClient(mongodb_url)
db = client['API_Project']  # Nom de la base de données
collection_meteo = db['Meteo']  # Nom de la collection
collection_conso= db['Consommation_energetique']

In [5]:
# Récupérer les données depuis MongoDB
df_meteo = pd.DataFrame(list(collection_meteo.find()))

In [6]:
df_conso = pd.read_csv(conso_path, header=0)

C:\Users\JC\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_conso['Date - Heure'] = pd.to_datetime(df_conso['Date - Heure'])

In [8]:
df_meteo = df_meteo.rename(columns={"dh_utc":"Date - Heure"})

In [9]:
df_conso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108296 entries, 0 to 108295
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Code INSEE région    99840 non-null   float64
 1   Région               99840 non-null   object
 2   Nature               99840 non-null   object
 3   Date                 99840 non-null   object
 4   Heure                99840 non-null   object
 5   Date - Heure         99840 non-null   datetime64[ns]
 6   Consommation (MW)    99796 non-null   float64
 7   Thermique (MW)       99796 non-null   float64
 8   Nucléaire (MW)       99796 non-null   float64
 9   Eolien (MW)          99796 non-null   float64
 10  Solaire (MW)         99796 non-null   float64
 11  Hydraulique (MW)     99796 non-null   float64
 12  Pompage (MW)         99796 non-null   float64
 13  Bioénergies (MW)     99796 non-null   float64
 14  Ech. physiques (MW)  99796 non-null   float64
 15  Stockage batterie    90388 non-null   float64
 16  Déstockage batterie  90388 non-null   float64
 17  TCO Thermique (%)    99674 non-null   float64
 18  TCH Thermique (%)    99796 non-null   float64
 19  TCO Nucléaire (%)    99674 non-null   float64
 20  TCH Nucléaire (%)    0 non-null       float64
 21  TCO Eolien (%)       99674 non-null   float64
 22  TCH Eolien (%)       99796 non-null   float64
 23  TCO Solaire (%)      99674 non-null   float64
 24  TCH Solaire (%)      99796 non-null   float64
 25  TCO Hydraulique (%)  99674 non-null   float64
 26  TCH Hydraulique (%)  99796 non-null   float64
 27  TCO Bioénergies (%)  99674 non-null   float64
 28  TCH Bioénergies (%)  99796 non-null   float64
 29  Column 68            0 non-null       float64
 30  Unnamed: 30          8215 non-null    object
 31  mois                 108296 non-null  int64
 32  jour_semaine         99840 non-null   object
 33  heure                99840 non-null   float64
 34  saison               99840 non-null   object
 35  variation            108201 non-null  float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(7)
memory usage: 29.7+ MB

In [10]:
df_meteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66676 entries, 0 to 66675
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     66676 non-null  object
 1   Date - Heure            66676 non-null  datetime64[ns]
 2   temperature_moyenne     59806 non-null  float64
 3   pression_moyenne        59777 non-null  float64
 4   humidite_moyenne        59804 non-null  float64
 5   visibilité_moyenne      18743 non-null  float64
 6   vent_moyen              59779 non-null  float64
 7   vent_rafales_moyen      18747 non-null  float64
 8   vent_rafales_max        18747 non-null  float64
 9   vent_direction_moyenne  59596 non-null  float64
 10  pluie_moyenne           18754 non-null  float64
 11  pluie_intesite          52343 non-null  float64
 12  uv                      33233 non-null  float64
 13  uv_index                33233 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 7.1+ MB

In [11]:
df_final = pd.merge(left=df_conso, right=df_meteo, on = "Date - Heure")

In [14]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99840 entries, 0 to 99839
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code INSEE région       99840 non-null  float64
 1   Région                  99840 non-null  object
 2   Nature                  99840 non-null  object
 3   Date                    99840 non-null  object
 4   Heure                   99840 non-null  object
 5   Date - Heure            99840 non-null  datetime64[ns]
 6   Consommation (MW)       99796 non-null  float64
 7   Thermique (MW)          99796 non-null  float64
 8   Nucléaire (MW)          99796 non-null  float64
 9   Eolien (MW)             99796 non-null  float64
 10  Solaire (MW)            99796 non-null  float64
 11  Hydraulique (MW)        99796 non-null  float64
 12  Pompage (MW)            99796 non-null  float64
 13  Bioénergies (MW)        99796 non-null  float64
 14  Ech. physiques (MW)     99796 non-null  float64
 15  Stockage batterie       90388 non-null  float64
 16  Déstockage batterie     90388 non-null  float64
 17  TCO Thermique (%)       99674 non-null  float64
 18  TCH Thermique (%)       99796 non-null  float64
 19  TCO Nucléaire (%)       99674 non-null  float64
 20  TCH Nucléaire (%)       0 non-null      float64
 21  TCO Eolien (%)          99674 non-null  float64
 22  TCH Eolien (%)          99796 non-null  float64
 23  TCO Solaire (%)         99674 non-null  float64
 24  TCH Solaire (%)         99796 non-null  float64
 25  TCO Hydraulique (%)     99674 non-null  float64
 26  TCH Hydraulique (%)     99796 non-null  float64
 27  TCO Bioénergies (%)     99674 non-null  float64
 28  TCH Bioénergies (%)     99796 non-null  float64
 29  Column 68               0 non-null      float64
 30  Unnamed: 30             0 non-null      object
 31  mois                    99840 non-null  int64
 32  jour_semaine            99840 non-null  object
 33  heure                   99840 non-null  float64
 34  saison                  99840 non-null  object
 35  variation               99745 non-null  float64
 36  _id                     99840 non-null  object
 37  temperature_moyenne     93132 non-null  float64
 38  pression_moyenne        93130 non-null  float64
 39  humidite_moyenne        93130 non-null  float64
 40  visibilité_moyenne      28096 non-null  float64
 41  vent_moyen              93132 non-null  float64
 42  vent_rafales_moyen      28110 non-null  float64
 43  vent_rafales_max        28110 non-null  float64
 44  vent_direction_moyenne  92918 non-null  float64
 45  pluie_moyenne           28118 non-null  float64
 46  pluie_intesite          85818 non-null  float64
 47  uv                      49824 non-null  float64
 48  uv_index                49824 non-null  float64
dtypes: datetime64[ns](1), float64(39), int64(1), object(8)
memory usage: 38.1+ MB

In [15]:
df_final =df_final.drop(columns=['Nature', 
                                 'Heure',
                                 'Column 68', 
                                 'Unnamed: 30', 
                                 '_id', 
                                 'Région', 
                                 'Stockage batterie', 
                                 'Déstockage batterie',
                                'variation'])

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99840 entries, 0 to 99839
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code INSEE région       99840 non-null  float64
 1   Date                    99840 non-null  object
 2   Date - Heure            99840 non-null  datetime64[ns]
 3   Consommation (MW)       99796 non-null  float64
 4   Thermique (MW)          99796 non-null  float64
 5   Nucléaire (MW)          99796 non-null  float64
 6   Eolien (MW)             99796 non-null  float64
 7   Solaire (MW)            99796 non-null  float64
 8   Hydraulique (MW)        99796 non-null  float64
 9   Pompage (MW)            99796 non-null  float64
 10  Bioénergies (MW)        99796 non-null  float64
 11  Ech. physiques (MW)     99796 non-null  float64
 12  TCO Thermique (%)       99674 non-null  float64
 13  TCH Thermique (%)       99796 non-null  float64
 14  TCO Nucléaire (%)       99674 non-null  float64
 15  TCH Nucléaire (%)       0 non-null      float64
 16  TCO Eolien (%)          99674 non-null  float64
 17  TCH Eolien (%)          99796 non-null  float64
 18  TCO Solaire (%)         99674 non-null  float64
 19  TCH Solaire (%)         99796 non-null  float64
 20  TCO Hydraulique (%)     99674 non-null  float64
 21  TCH Hydraulique (%)     99796 non-null  float64
 22  TCO Bioénergies (%)     99674 non-null  float64
 23  TCH Bioénergies (%)     99796 non-null  float64
 24  mois                    99840 non-null  int64
 25  jour_semaine            99840 non-null  object
 26  heure                   99840 non-null  float64
 27  saison                  99840 non-null  object
 28  temperature_moyenne     93132 non-null  float64
 29  pression_moyenne        93130 non-null  float64
 30  humidite_moyenne        93130 non-null  float64
 31  visibilité_moyenne      28096 non-null  float64
 32  vent_moyen              93132 non-null  float64
 33  vent_rafales_moyen      28110 non-null  float64
 34  vent_rafales_max        28110 non-null  float64
 35  vent_direction_moyenne  92918 non-null  float64
 36  pluie_moyenne           28118 non-null  float64
 37  pluie_intesite          85818 non-null  float64
 38  uv                      49824 non-null  float64
 39  uv_index                49824 non-null  float64
dtypes: datetime64[ns](1), float64(35), int64(1), object(3)
memory usage: 31.2+ MB

In [17]:
del df_final[df_final.columns[0]]

In [18]:
df_final = df_final[df_final['Consommation (MW)'].notna()]

In [19]:
df_final.to_csv(end_file)

In [23]:
numeric_columns = [
    'Consommation (MW)', 'Thermique (MW)', 'Eolien (MW)', 
    'Solaire (MW)', 'Hydraulique (MW)', 'Pompage (MW)', 'Bioénergies (MW)', 
    'Ech. physiques (MW)', 
    'TCO Thermique (%)', 'TCH Thermique (%)',
    'TCO Eolien (%)', 'TCH Eolien (%)', 'TCO Solaire (%)', 'TCH Solaire (%)', 
    'TCO Hydraulique (%)', 'TCH Hydraulique (%)', 'TCO Bioénergies (%)', 'TCH Bioénergies (%)', 
    'temperature_moyenne', 'humidite_moyenne',"visibilité_moyenne", 'vent_moyen', 'vent_rafales_moyen',
    'vent_rafales_max', 'vent_direction_moyenne', 'pluie_moyenne', 'pluie_intesite', 'uv', 'uv_index'
]

In [24]:
numeric_columns_simpl = [
    'Consommation (MW)', 'Thermique (MW)', 'Eolien (MW)', 
    'Solaire (MW)', 'Hydraulique (MW)', 'Pompage (MW)', 'Bioénergies (MW)', 
    'Ech. physiques (MW)', 
    'temperature_moyenne', 'humidite_moyenne',"visibilité_moyenne", 'vent_moyen', 'vent_rafales_moyen',
    'vent_rafales_max', 'vent_direction_moyenne', 'pluie_moyenne', 'pluie_intesite', 'uv', 'uv_index'
]

In [25]:
# Visualisation des corrélations entre les différentes variables 
plt.figure(figsize=(10, 6))
# Sélectionner uniquement les colonnes numériques pour la corrélation
df_etude = df_final[numeric_columns_simpl]

# Calculer la matrice de corrélation
correlation_matrix = df_etude.corr()  # Calculer la matrice de corrélation
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Matrice de corrélation')
plt.show()

KeyError: "['pluie_intensite'] not in index"