In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\jc\anaconda3\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\jc\anaconda3\lib\site-packages (from pymongo) (2.7.0)

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pymongo import MongoClient
import datetime

In [ ]:
current_dir = os.get_cwd()
end_path = current_dir + "\end_data"
end_file = end_path +'\meteo_data.csv'

!pip install dotenv

import os
import requests
from pymongo import MongoClient
from dotenv import load_dotenv
import datetime

# Charger les variables d'environnement depuis le fichier .env
load_dotenv()

In [3]:
# Récupérer les clés API et URL depuis le fichier .env

mongodb_url = "mongodb+srv://bean3den:faRpFh6VyRLeEf6A@cluster0.wva85.mongodb.net/"

# Connexion à MongoDB
client = MongoClient(mongodb_url)  
db = client['API_Project']  # Remplace par le nom de ta base de données
collection = db['Meteo']  # Remplace par le nom de ta collection

# Récupérer les données depuis MongoDB
df = pd.DataFrame(list(collection.find()))

# Afficher les premières lignes pour vérifier la structure des données
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10534 entries, 0 to 10533
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     10534 non-null  object
 1   station_id              10534 non-null  object
 2   dh_utc                  10534 non-null  object
 3   temperature             10534 non-null  object
 4   pression                10534 non-null  object
 5   pression_variation_3h   10534 non-null  object
 6   humidite                10534 non-null  object
 7   point_de_rosee          10534 non-null  object
 8   visibilite              10534 non-null  object
 9   vent_moyen              10534 non-null  object
 10  vent_rafales            10534 non-null  object
 11  vent_rafales_10min      10534 non-null  object
 12  vent_direction          10534 non-null  object
 13  temperature_min         10534 non-null  object
 14  temperature_max         10534 non-null  object
 15  pluie_1h                10534 non-null  object
 16  pluie_3h                10534 non-null  object
 17  pluie_6h                10534 non-null  object
 18  pluie_12h               10534 non-null  object
 19  pluie_24h               10534 non-null  object
 20  ensoleillement          10534 non-null  object
 21  temperature_sol         10534 non-null  object
 22  temps_omm               10534 non-null  object
 23  source                  10534 non-null  object
 24  radiations              10534 non-null  object
 25  neige_au_sol            10534 non-null  object
 26  nebulosite              10534 non-null  object
 27  raw_msg                 10534 non-null  object
 28  pluie_cumul_0h          10534 non-null  object
 29  pluie_intensite         10534 non-null  object
 30  pluie_intensite_max_1h  10534 non-null  object
 31  uv                      10534 non-null  object
 32  uv_index                10534 non-null  object
 33  complements             10534 non-null  object
dtypes: object(34)
memory usage: 2.7+ MB
None

In [4]:
df_work = df

df = pd.read_csv(cwd_file, delimiter=";")
df = df.drop([0])
df.head(5)

In [5]:
df_work.head(5)

,_id,station_id,dh_utc,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,...,radiations,neige_au_sol,nebulosite,raw_msg,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index,complements
0,673273ca89446726382b5ca6,station_id,dh_utc,temperature,pression,pression_variation_3h,humidite,point_de_rosee,visibilite,vent_moyen,...,radiations,neige_au_sol,nebulosite,raw_msg,pluie_cumul_0h,pluie_intensite,pluie_intensite_max_1h,uv,uv_index,complements
1,673273ca89446726382b5ca7,000GZ,2024-11-09 00:00:00,12,1019.4,,,,,0,...,,,,,0,0,0,,,@@@@758.4@@@6.4@19@19@19.1@12:00am@12:03am@12....
2,673273ca89446726382b5ca8,000GZ,2024-11-09 00:10:00,12.1,1019.4,,,,,0,...,,,,,0,0,0,,,@@@@758.4@@@6.4@19@18.9@19.1@1:09am@12:03am@12...
3,673273ca89446726382b5ca9,000GZ,2024-11-09 00:20:00,12.1,1019.3,,,,,0,...,,,,,0,0,0,,,@@@@758.4@@@6.4@19@18.9@19.1@1:09am@12:03am@12...
4,673273ca89446726382b5caa,000GZ,2024-11-09 00:30:00,12.1,1019.3,,,,,0,...,,,,,0,0,0,,,@@@@758.4@@@6.4@18.9@18.9@19.1@1:09am@12:03am@...

In [6]:
list_gardee = [
    'station_id',
    'dh_utc',
    'temperature', 
    'pression', 
    'humidite', 
    'visibilite', 
    'vent_moyen', 
    'vent_rafales', 
    'vent_direction', 
    'pluie_1h', 
    'pluie_intensite', 
    'uv', 
    'uv_index']

In [7]:
list_str_to_int = ['temperature', 
    'pression', 
    'humidite', 
    'visibilite', 
    'vent_moyen', 
    'vent_rafales', 
    'vent_direction', 
    'pluie_1h', 
    'pluie_intensite', 
    'uv', 
    'uv_index']

In [8]:
df_work = df_work.drop([0])

In [9]:
df_reduit = df_work[list_gardee]

In [10]:
df_reduit = df_reduit.loc[df_reduit['station_id'] != 'station_id']

In [11]:
df_reduit[list_str_to_int] = df_reduit[list_str_to_int].apply(pd.to_numeric, errors = 'coerce')

In [12]:
df_reduit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10524 entries, 1 to 10533
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_id       10524 non-null  object
 1   dh_utc           10524 non-null  object
 2   temperature      10524 non-null  float64
 3   pression         10524 non-null  float64
 4   humidite         6652 non-null   float64
 5   visibilite       1118 non-null   float64
 6   vent_moyen       10524 non-null  float64
 7   vent_rafales     1118 non-null   float64
 8   vent_direction   10444 non-null  float64
 9   pluie_1h         2876 non-null   float64
 10  pluie_intensite  9406 non-null   float64
 11  uv               3335 non-null   float64
 12  uv_index         3335 non-null   float64
dtypes: float64(11), object(2)
memory usage: 1.1+ MB

In [13]:
df_reduit.head(5)

,station_id,dh_utc,temperature,pression,humidite,visibilite,vent_moyen,vent_rafales,vent_direction,pluie_1h,pluie_intensite,uv,uv_index
1,000GZ,2024-11-09 00:00:00,12.0,1019.4,NaN,NaN,0.0,NaN,114.0,0.0,0.0,NaN,NaN
2,000GZ,2024-11-09 00:10:00,12.1,1019.4,NaN,NaN,0.0,NaN,114.0,NaN,0.0,NaN,NaN
3,000GZ,2024-11-09 00:20:00,12.1,1019.3,NaN,NaN,0.0,NaN,114.0,NaN,0.0,NaN,NaN
4,000GZ,2024-11-09 00:30:00,12.1,1019.3,NaN,NaN,0.0,NaN,114.0,NaN,0.0,NaN,NaN
5,000GZ,2024-11-09 00:40:00,12.1,1019.3,NaN,NaN,0.0,NaN,114.0,NaN,0.0,NaN,NaN

def clean_data(arg):
    if dtype(arg) != 'string' : 
        return arg
    elif str(str_arg) == "":
        str_arg = 0 
    else :
        str_arg = str_arg.replace(",",".")
    try :  
        return float(str_arg)
    except TypeError:
        print(str_arg)
        return 0

df_reduit[list_str_to_int] = df_reduit[list_str_to_int].apply(lambda x: clean_data(x), axis = 0)

df_reduit = df_reduit.astype({
                "temperature":float, 
                "pression":float, "humidite":float, "visibilite":float, "vent_moyen":float, "vent_rafales":float, "vent_rafales":float,
               "vent_direction":float, "pluie_1h":float,  "pluie_intensite":float, "uv":float, "uv_index":float})

df_reduit.info()

In [14]:
df_reduit['dh_utc'] = pd.to_datetime(df_reduit['dh_utc'])

In [15]:
df_reduit.dtypes

station_id                 object
dh_utc             datetime64[ns]
temperature               float64
pression                  float64
humidite                  float64
visibilite                float64
vent_moyen                float64
vent_rafales              float64
vent_direction            float64
pluie_1h                  float64
pluie_intensite           float64
uv                        float64
uv_index                  float64
dtype: object

In [16]:
list_station_id = df_reduit.station_id.unique()
list_station_id = np.delete(list_station_id, np.where(list_station_id == 'station_id'))
print(list_station_id)

['000GZ' '07110' '07130' 'STATIC0021' 'STATIC0308']

In [17]:
df_station_id = df_reduit.loc[df_reduit['station_id']=='station_id']
df_station_id.head(10)

Empty DataFrame
Columns: [station_id, dh_utc, temperature, pression, humidite, visibilite, vent_moyen, vent_rafales, vent_direction, pluie_1h, pluie_intensite, uv, uv_index]
Index: []

In [18]:
df_reduit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10524 entries, 1 to 10533
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_id       10524 non-null  object
 1   dh_utc           10524 non-null  datetime64[ns]
 2   temperature      10524 non-null  float64
 3   pression         10524 non-null  float64
 4   humidite         6652 non-null   float64
 5   visibilite       1118 non-null   float64
 6   vent_moyen       10524 non-null  float64
 7   vent_rafales     1118 non-null   float64
 8   vent_direction   10444 non-null  float64
 9   pluie_1h         2876 non-null   float64
 10  pluie_intensite  9406 non-null   float64
 11  uv               3335 non-null   float64
 12  uv_index         3335 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 1.1+ MB

def garder_row(df):
    
    for i in liste:
        
        list_gardee = {
    'station_id': 
    'dh_utc',
    'temperature', 
    'pression', 
    'humidite', 
    'visibilite', 
    'vent_moyen', 
    'vent_rafales', 
    'vent_direction', 
    'pluie_1h', 
    'pluie_intensite', 
    'uv', 
    'uv_index']

In [19]:
list_station_id_h = []
list_station_id_15 = []
list_station_id_30 = []
list_station_id_10 = []

In [20]:
space_10 = datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=10, hours=0, weeks=0)
space_15 = datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=15, hours=0, weeks=0)
space_h = datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=1, weeks=0)
time_delta_0 = datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
list_time_d = [space_10,space_15, space_h]

for i in list_station_id :
    df_prod = df_reduit.loc[df_reduit['station_id']==i].head(2)
    print(df_prod[['station_id', 'dh_utc']])
    for index, row in df_prod.iterrows():
        try :
            
            index_next_row = index
            a = row['dh_utc']
            next_row = df_prod.iloc[index_next_row]
            
            b = next_row['dh_utc']
            time_diff = b-a
            print(time_diff - space_10)
            print(time_diff - space_h)
            if time_diff - space_10 == time_delta_0:
                list_station_id_10.append(row['station_id'])
                print(i, '10 minutes')
            if time_diff - space_15 == time_delta_0:
                list_station_id_15.append(row['station_id'])
                print(i, '15 minutes')
            if time_diff - space_h == time_delta_0:
                list_station_id_h.append(row['station_id'])
                print(i, '1 heure')
                print(list_station_id_h)
        except IndexError:
            pass

In [21]:
for i in list_station_id :
    df_prod = df_reduit.loc[df_reduit['station_id']==i].head(2)
    df_prod = df_prod.reset_index()
    
    a = df_prod.loc[0,'dh_utc']
    b = df_prod.loc[1,'dh_utc']
    time_diff = b-a

    if time_diff - space_10 == time_delta_0:
        list_station_id_10.append(i)
        print(i, '10 minutes')
    if time_diff - space_15 == time_delta_0:
        list_station_id_15.append(i)
        print(i, '15 minutes')
    if time_diff - space_h == time_delta_0:
        list_station_id_h.append(i)
        print(i, '1 heure')

000GZ 10 minutes
07110 1 heure
07130 1 heure
STATIC0021 10 minutes
STATIC0308 15 minutes

In [22]:
print(list_station_id_h)

['07110', '07130']

In [23]:
a = df_reduit.iloc[1]
print(a)

station_id                       000GZ
dh_utc             2024-11-09 00:10:00
temperature                       12.1
pression                        1019.4
humidite                           NaN
visibilite                         NaN
vent_moyen                         0.0
vent_rafales                       NaN
vent_direction                   114.0
pluie_1h                           NaN
pluie_intensite                    0.0
uv                                 NaN
uv_index                           NaN
Name: 2, dtype: object

In [24]:
print(type(a['dh_utc'].minute))

<class 'int'>

df_second = pd.DataFrame(columns = list_gardee)
print(df_second)

for index, row in df.iterrows():
    index_next_row = index
    df_part = df.loc[index:index_next_row]
    
    if index <10:
        a = row['dh_utc']
        next_row = df.iloc[index_next_row]
        b = next_row['dh_utc']
        print("a", a,"b", b)
        if a[14:16] == "00" or a[14:16] =="30":
            df_second = pd.concat([df_second, df.loc[index]], axis = 0, ignore_index=True)
            
            print(df_second)
            #df_second.append(df.loc[index])
        elif a[14:16] == "10" or a[14:16] =="40":
            new_row = []

In [25]:
space_5 = datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=5, hours=0, weeks=0)
def conjonction_10_to_15(df):
    
    for index, row in df.iterrows():
        try :
            index_next_row = index
            df_part = df.loc[index:index_next_row]
            
            if row['dh_utc'].minute == 10 or row['dh_utc'].minute == 40:
                next_row = {
                    "station_id": row['station_id'],
                    "dh_utc" : row['dh_utc'] + space_5,
                    "temperature" : df_part['temperature'].mean(),
                    "pression" : df_part['pression'].mean(),
                    "humidite" : df_part['humidite'].mean(),
                    "visibilite" : df_part['visibilite'].mean(),
                    "vent_moyen" : df_part['vent_moyen'].mean(),
                    "vent_rafales" : df_part['vent_rafales'].mean(),
                    "vent_direction" : df_part['vent_direction'].mean(),
                    "pluie_1h" : df_part['pluie_1h'].mean(),
                    "pluie_intensite" : df_part['pluie_intensite'].mean(),
                    "uv" : df_part['uv'].mean(),
                    "uv_index" : df_part['uv_index'].mean(),
                }
                df.append(next_row, ignore_index = True)
                df = df.drop([index, index_next_row])
            elif row['dh_utc'].minute == 0 or row['dh_utc'].minute == 30:
                pass   
            else:
                df = df.drop([index]) 
        except IndexError:
            pass
    return df

In [26]:
print(space_15 * 2)

0:30:00

In [27]:
space_30 = space_15*2
space_45 = space_15*3

def conjonction_h_to_15(df):
    
    for index, row in df.iterrows():
        try :
            index_next_row = index
            df_part = df.loc[index:index_next_row]
            row_15 ={"station_id": row['station_id'],
                    "dh_utc" : row['dh_utc'] + space_15,
                    "temperature" : df_part['temperature'].quantile(0.25),
                    "pression" : df_part['pression'].quantile(0.25),
                    "humidite" : df_part['humidite'].quantile(0.25),
                    "visibilite" : df_part['visibilite'].quantile(0.25),
                    "vent_moyen" : df_part['vent_moyen'].quantile(0.25),
                    "vent_rafales" : df_part['vent_rafales'].quantile(0.25),
                    "vent_direction" : df_part['vent_direction'].quantile(0.25),
                    "pluie_1h" : df_part['pluie_1h'].mean(),
                    "pluie_intensite" : df_part['pluie_intensite'].quantile(0.25),
                    "uv" : df_part['uv'].quantile(0.25),
                    "uv_index" : df_part['uv_index'].quantile(0.25),
                }
            row_30 ={"station_id": row['station_id'],
                    "dh_utc" : row['dh_utc'] + space_30,
                    "temperature" : df_part['temperature'].mean(),
                    "pression" : df_part['pression'].mean(),
                    "humidite" : df_part['humidite'].mean(),
                    "visibilite" : df_part['visibilite'].mean(),
                    "vent_moyen" : df_part['vent_moyen'].mean(),
                    "vent_rafales" : df_part['vent_rafales'].mean(),
                    "vent_direction" : df_part['vent_direction'].mean(),
                    "pluie_1h" : df_part['pluie_1h'].mean(),
                    "pluie_intensite" : df_part['pluie_intensite'].mean(),
                    "uv" : df_part['uv'].mean(),
                    "uv_index" : df_part['uv_index'].mean(),
                }
            row_45 ={"station_id": row['station_id'],
                    "dh_utc" : row['dh_utc'] + space_45,
                    "temperature" : df_part['temperature'].quantile(0.75),
                    "pression" : df_part['pression'].quantile(0.75),
                    "humidite" : df_part['humidite'].quantile(0.75),
                    "visibilite" : df_part['visibilite'].quantile(0.75),
                    "vent_moyen" : df_part['vent_moyen'].quantile(0.75),
                    "vent_rafales" : df_part['vent_rafales'].quantile(0.75),
                    "vent_direction" : df_part['vent_direction'].quantile(0.75),
                    "pluie_1h" : df_part['pluie_1h'].quantile(0.75),
                    "pluie_intensite" : df_part['pluie_intensite'].quantile(0.75),
                    "uv" : df_part['uv'].quantile(0.75),
                    "uv_index" : df_part['uv_index'].quantile(0.75),
                }
            df = df.append(row_15, ignore_index = True)
            df = df.append(row_30, ignore_index = True) 
            df = df.append(row_45, ignore_index = True) 
        except IndexError:
            pass
            
    return df

In [28]:
df_10_to_15 = pd.DataFrame()
for i in list_station_id_10:
    df_10 = df_reduit.loc[df_reduit['station_id'] == i]
    df_10 = conjonction_10_to_15(df_10)
    df_10_to_15 = pd.concat([df_10_to_15, df_10])
df_10_to_15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2407 entries, 1 to 10256
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station_id       2407 non-null   object
 1   dh_utc           2407 non-null   datetime64[ns]
 2   temperature      2407 non-null   float64
 3   pression         2407 non-null   float64
 4   humidite         1112 non-null   float64
 5   visibilite       0 non-null      float64
 6   vent_moyen       2407 non-null   float64
 7   vent_rafales     0 non-null      float64
 8   vent_direction   2391 non-null   float64
 9   pluie_1h         1212 non-null   float64
 10  pluie_intensite  2407 non-null   float64
 11  uv               1112 non-null   float64
 12  uv_index         1112 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 263.3+ KB

In [29]:
df_10_to_15.station_id.unique()

array(['000GZ', 'STATIC0021'], dtype=object)

In [30]:
df_10_to_15.dh_utc.unique()

array(['2024-11-09T00:00:00.000000000', '2024-11-09T00:30:00.000000000',
       '2024-11-09T01:00:00.000000000', '2024-11-09T01:30:00.000000000',
       '2024-11-09T02:00:00.000000000', '2024-11-09T02:30:00.000000000',
       '2024-11-09T03:00:00.000000000', '2024-11-09T03:30:00.000000000',
       '2024-11-09T04:00:00.000000000', '2024-11-09T04:30:00.000000000',
       '2024-11-09T05:00:00.000000000', '2024-11-09T05:30:00.000000000',
       '2024-11-09T06:00:00.000000000', '2024-11-09T06:30:00.000000000',
       '2024-11-09T07:00:00.000000000', '2024-11-09T07:30:00.000000000',
       '2024-11-09T08:00:00.000000000', '2024-11-09T08:30:00.000000000',
       '2024-11-09T09:00:00.000000000', '2024-11-09T09:30:00.000000000',
       '2024-11-09T10:00:00.000000000', '2024-11-09T10:30:00.000000000',
       '2024-11-09T11:00:00.000000000', '2024-11-09T11:30:00.000000000',
       '2024-11-09T12:00:00.000000000', '2024-11-09T12:30:00.000000000',
       '2024-11-09T13:00:00.000000000', '2024-11-09T13:30:00.000000000',
       '2024-11-09T14:00:00.000000000', '2024-11-09T14:30:00.000000000',
       '2024-11-09T15:00:00.000000000', '2024-11-09T15:30:00.000000000',
       '2024-11-09T16:00:00.000000000', '2024-11-09T16:30:00.000000000',
       '2024-11-09T17:00:00.000000000', '2024-11-09T17:30:00.000000000',
       '2024-11-09T18:00:00.000000000', '2024-11-09T18:30:00.000000000',
       '2024-11-09T19:00:00.000000000', '2024-11-09T19:30:00.000000000',
       '2024-11-09T20:00:00.000000000', '2024-11-09T20:30:00.000000000',
       '2024-11-09T21:00:00.000000000', '2024-11-09T21:30:00.000000000',
       '2024-11-09T22:00:00.000000000', '2024-11-09T22:30:00.000000000',
       '2024-11-09T23:00:00.000000000', '2024-11-09T23:30:00.000000000',
       '2024-11-10T00:00:00.000000000', '2024-11-10T00:30:00.000000000',
       '2024-11-10T01:00:00.000000000', '2024-11-10T01:30:00.000000000',
       '2024-11-10T02:00:00.000000000', '2024-11-10T02:30:00.000000000',
       '2024-11-10T03:00:00.000000000', '2024-11-10T03:30:00.000000000',
       '2024-11-10T04:00:00.000000000', '2024-11-10T04:30:00.000000000',
       '2024-11-10T05:00:00.000000000', '2024-11-10T05:30:00.000000000',
       '2024-11-10T06:00:00.000000000', '2024-11-10T06:30:00.000000000',
       '2024-11-10T07:00:00.000000000', '2024-11-10T07:30:00.000000000',
       '2024-11-10T08:00:00.000000000', '2024-11-10T08:30:00.000000000',
       '2024-11-10T09:00:00.000000000', '2024-11-10T09:30:00.000000000',
       '2024-11-10T10:00:00.000000000', '2024-11-10T10:30:00.000000000',
       '2024-11-10T11:00:00.000000000', '2024-11-10T11:30:00.000000000',
       '2024-11-10T12:00:00.000000000', '2024-11-10T12:30:00.000000000',
       '2024-11-10T13:00:00.000000000', '2024-11-10T13:30:00.000000000',
       '2024-11-10T14:00:00.000000000', '2024-11-10T14:30:00.000000000',
       '2024-11-10T15:00:00.000000000', '2024-11-10T15:30:00.000000000',
       '2024-11-10T16:00:00.000000000', '2024-11-10T16:30:00.000000000',
       '2024-11-10T17:00:00.000000000', '2024-11-10T17:30:00.000000000',
       '2024-11-10T18:00:00.000000000', '2024-11-10T18:30:00.000000000',
       '2024-11-10T19:00:00.000000000', '2024-11-10T19:30:00.000000000',
       '2024-11-10T20:00:00.000000000', '2024-11-10T20:30:00.000000000',
       '2024-11-10T21:00:00.000000000', '2024-11-10T21:30:00.000000000',
       '2024-11-10T22:00:00.000000000', '2024-11-10T22:30:00.000000000',
       '2024-11-10T23:00:00.000000000', '2024-11-10T23:30:00.000000000',
       '2024-11-11T00:00:00.000000000', '2024-11-11T00:30:00.000000000',
       '2024-11-11T01:00:00.000000000', '2024-11-11T01:30:00.000000000',
       '2024-11-11T02:00:00.000000000', '2024-11-11T02:30:00.000000000',
       '2024-11-11T03:00:00.000000000', '2024-11-11T03:30:00.000000000',
       '2024-11-11T04:00:00.000000000', '2024-11-11T04:30:00.000000000',
       '2024-11-11T05:00:00.000000000', '2024-11-11T05:30:00.000000000',
       '2024-11-11T06:00:00.000000000', '2024-11-11T06:30:00.000000000',
       '2024-11-11T07:00:00.000000000', '2024-11-11T07:30:00.000000000',
       '2024-11-11T08:00:00.000000000', '2024-11-11T08:30:00.000000000',
       '2024-11-11T09:00:00.000000000', '2024-11-11T09:30:00.000000000',
       '2024-11-11T10:00:00.000000000', '2024-11-11T10:30:00.000000000',
       '2024-11-11T11:00:00.000000000', '2024-11-11T11:30:00.000000000',
       '2024-11-11T12:00:00.000000000', '2024-11-11T12:30:00.000000000',
       '2024-11-11T13:00:00.000000000', '2024-11-11T13:30:00.000000000',
       '2024-11-11T14:00:00.000000000', '2024-11-11T14:30:00.000000000',
       '2024-11-11T15:00:00.000000000', '2024-11-11T15:30:00.000000000',
       '2024-11-11T16:00:00.000000000', '2024-11-11T16:30:00.000000000',
       '2024-11-11T17:00:00.000000000', '2024-11-11T17:30:00.000000000',
       '2024-11-11T18:00:00.000000000', '2024-11-11T18:30:00.000000000',
       '2024-11-11T19:00:00.000000000', '2024-11-11T19:30:00.000000000',
       '2024-11-11T20:00:00.000000000', '2024-11-11T20:30:00.000000000',
       '2024-11-11T21:00:00.000000000', '2024-11-11T21:30:00.000000000'],
      dtype='datetime64[ns]')

In [31]:
df_h_to_15 = pd.DataFrame()

for i in list_station_id_h:
    df_h = df_reduit.loc[df_reduit['station_id'] == i]
    df_h = conjonction_h_to_15(df_h)
    df_h_to_15 = pd.concat([df_h_to_15, df_h])

In [32]:
df_h_to_15.station_id.unique()

array(['07110', '07130'], dtype=object)

In [33]:
df_15 = pd.DataFrame()

for i in list_station_id_15:
    df_h = df_reduit.loc[df_reduit['station_id'] == i]
    df_15 = pd.concat([df_15, df_h])

In [34]:
df_15.station_id.unique()

array(['STATIC0308'], dtype=object)

In [35]:
df_end = pd.concat([df_h_to_15, df_10_to_15, df_15])

In [36]:
df_end.head(5)

,station_id,dh_utc,temperature,pression,humidite,visibilite,vent_moyen,vent_rafales,vent_direction,pluie_1h,pluie_intensite,uv,uv_index
0,07110,2024-11-09 00:00:00,11.8,1021.1,97.0,6000.0,3.6,10.8,80.0,0.0,NaN,NaN,NaN
1,07110,2024-11-09 01:00:00,11.7,1021.1,96.0,6000.0,7.2,7.2,60.0,0.0,NaN,NaN,NaN
2,07110,2024-11-09 02:00:00,11.6,1021.1,96.0,8000.0,7.2,10.8,70.0,0.0,NaN,NaN,NaN
3,07110,2024-11-09 03:00:00,11.5,1021.1,96.0,7000.0,7.2,10.8,50.0,0.0,NaN,NaN,NaN
4,07110,2024-11-09 04:00:00,11.4,1021.1,96.0,8000.0,10.8,14.4,50.0,0.0,NaN,NaN,NaN

In [37]:
df_grpby = df_end.groupby("dh_utc").agg(
   temperature_moyenne=("temperature","mean"),
   pression_moyenne=("pression","mean"),
    humidite_moyenne = ("humidite", "mean"),
    visibilité_moyenne = ("visibilite", "mean"),
    vent_moyen = ("vent_moyen", "mean"),
    vent_rafales_moyen = ("vent_rafales", "mean"),
    vent_rafales_max = ("vent_rafales", "max"),
    vent_direction_moyenne = ("vent_direction", "mean"),
    pluie_moyenne = ("pluie_1h", "mean"),
    pluie_intesite = ("pluie_intensite", "mean"),
    uv = ("uv", "mean"),
    uv_index = ("uv_index", "mean")
)

In [38]:
df_grpby.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 282 entries, 2024-11-09 00:00:00 to 2024-11-11 21:45:00
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   temperature_moyenne     280 non-null    float64
 1   pression_moyenne        280 non-null    float64
 2   humidite_moyenne        279 non-null    float64
 3   visibilité_moyenne      277 non-null    float64
 4   vent_moyen              280 non-null    float64
 5   vent_rafales_moyen      277 non-null    float64
 6   vent_rafales_max        277 non-null    float64
 7   vent_direction_moyenne  280 non-null    float64
 8   pluie_moyenne           277 non-null    float64
 9   pluie_intesite          278 non-null    float64
 10  uv                      139 non-null    float64
 11  uv_index                139 non-null    float64
dtypes: float64(12)
memory usage: 28.6 KB

In [39]:
df_grpby.head(5)

,temperature_moyenne,pression_moyenne,humidite_moyenne,visibilité_moyenne,vent_moyen,vent_rafales_moyen,vent_rafales_max,vent_direction_moyenne,pluie_moyenne,pluie_intesite,uv,uv_index
dh_utc,,,,,,,,,,,,
2024-11-09 00:00:00,11.847619,1020.752381,96.750000,4750.0,3.447619,12.6,14.4,88.857143,0.0,0.0,0.0,0.0
2024-11-09 00:15:00,12.030000,1020.900000,95.500000,4750.0,3.200000,12.6,14.4,51.400000,0.0,0.0,NaN,NaN
2024-11-09 00:30:00,11.903571,1020.471429,96.166667,4750.0,1.714286,12.6,14.4,88.500000,0.0,0.0,0.0,0.0
2024-11-09 00:45:00,12.030000,1020.820000,96.300000,4750.0,4.080000,12.6,14.4,34.600000,0.0,0.0,NaN,NaN
2024-11-09 01:00:00,11.814286,1020.747619,96.500000,5400.0,4.133333,14.4,21.6,79.714286,0.0,0.0,0.0,0.0

In [40]:
df_grpby.to_csv(end_file)

NameError: name 'end_file' is not defined